<p>
    <h3>Cart Page</h3>
    @if (ViewBag.Cart != null)
    {
        <table cellpadding="3" cellspacing="3" border="1" class="table">
            <tr>
                <th>Option</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var item in ViewBag.cart)
            {
                <tr>
                    <td><a asp-area="Shop" asp-controller="cart" asp-action="remove" asp-route-id="@item.ProductId">Remove</a></td>
                    <td>@item.ProductId</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="5">Sum</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        </table>
        <a asp-controller="checkout" asp-action="index">To checkout</a>
    }
    else
    {
        <div>Koszyk jest pusty</div>
    }
    <br>
    <a asp-controller="product" asp-action="index">Continue Shopping</a>
</p>